.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .auth-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    padding: 40px;
    background: transparent;
    border-radius: 10px;
  }
  
  .close-btn-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .form-container {
    flex: 1.2;
    padding-right: 30px;
  }
  
  .auth-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  .auth-desc {
    font-size: 14px;
    color: #666;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-image {
    width: 250px;
  }
  